Repository Eliezelg/mytzedaka-y011oh, changes with the owners that .github/CODEOWNERS names for each.
All owners: @global-maintainers, @mobile-team, @android-leads, @ios-leads, @backend-team, @api-leads, @api-team, @backend-leads, @data-team, @security-team, @frontend-team, @web-leads, @devops-team, @platform-leads, @ci-leads, @payment-team, @donation-team, @docs-team, @technical-writers, @i18n-team

.github/CODEOWNERS:

*                                    @global-maintainers

# Mobile applications
src/android/**                       @mobile-team @android-leads
src/ios/**                          @mobile-team @ios-leads

# Backend services
src/backend/**                      @backend-team @api-leads
**/api/**                          @api-team @backend-leads
**/database/**                     @backend-team @data-team
**/auth/**                         @backend-team @security-team

# Frontend application
src/web/**                         @frontend-team @web-leads

# Infrastructure and deployment
infrastructure/**                  @devops-team @platform-leads
.github/workflows/**               @devops-team @ci-leads

# Security-sensitive components
**/*.security.*                    @security-team
**/payment/**                      @payment-team @security-team

# Business domain components
**/donation/**                     @donation-team

# Documentation and localization
**/docs/**                         @docs-team @technical-writers
**/localization/**                 @i18n-team

# The CODEOWNERS file itself requires DevOps and Security review
.github/CODEOWNERS                 @devops-team @security-team @global-maintainers

Add public-samples/mytzedaka-y011oh/src/backend/src/modules/campaign/schemas/campaign.schema.ts
  src/backend/src/modules/campaign/schemas/campaign.schema.ts
Owners: @backend-team, @api-leads

Add public-samples/mytzedaka-y011oh/src/backend/src/modules/document/document.controller.ts
  src/backend/src/modules/document/document.controller.ts
Owners: @backend-team, @api-leads

Add public-samples/mytzedaka-y011oh/src/backend/src/modules/document/document.module.ts
  src/backend/src/modules/document/document.module.ts
Owners: @backend-team, @api-leads

Add public-samples/mytzedaka-y011oh/src/backend/src/modules/document/document.service.ts
  src/backend/src/modules/document/document.service.ts
Owners: @backend-team, @api-leads

Add public-samples/mytzedaka-y011oh/src/backend/src/modules/document/dto/create-document.dto.ts
  src/backend/src/modules/document/dto/create-document.dto.ts
Owners: @backend-team, @api-leads

Add public-samples/mytzedaka-y011oh/src/backend/src/modules/document/entities/document.entity.ts
  src/backend/src/modules/document/entities/document.entity.ts
Owners: @backend-team, @api-leads

Add public-samples/mytzedaka-y011oh/src/backend/src/modules/document/schemas/document.schema.ts
  src/backend/src/modules/document/schemas/document.schema.ts
Owners: @backend-team, @api-leads

Add public-samples/mytzedaka-y011oh/src/backend/src/modules/donation/donation.controller.ts
  src/backend/src/modules/donation/donation.controller.ts
Owners: @donation-team

Add public-samples/mytzedaka-y011oh/src/backend/src/modules/donation/donation.module.ts
  src/backend/src/modules/donation/donation.module.ts
Owners: @donation-team

Add public-samples/mytzedaka-y011oh/src/backend/src/modules/donation/donation.service.ts
  src/backend/src/modules/donation/donation.service.ts
Owners: @donation-team

Add public-samples/mytzedaka-y011oh/src/backend/src/modules/donation/dto/create-donation.dto.ts
  src/backend/src/modules/donation/dto/create-donation.dto.ts
Owners: @donation-team

Add public-samples/mytzedaka-y011oh/src/backend/src/modules/donation/entities/donation.entity.ts
  src/backend/src/modules/donation/entities/donation.entity.ts
Owners: @donation-team

Add public-samples/mytzedaka-y011oh/src/backend/src/modules/donation/schemas/donation.schema.ts
  src/backend/src/modules/donation/schemas/donation.schema.ts
Owners: @donation-team

Add public-samples/mytzedaka-y011oh/src/backend/src/modules/lottery/lottery.controller.ts
  src/backend/src/modules/lottery/lottery.controller.ts
Owners: @backend-team, @api-leads

Add public-samples/mytzedaka-y011oh/src/backend/src/modules/lottery/lottery.module.ts
  src/backend/src/modules/lottery/lottery.module.ts
Owners: @backend-team, @api-leads

Add public-samples/mytzedaka-y011oh/src/backend/src/modules/lottery/lottery.service.ts
  src/backend/src/modules/lottery/lottery.service.ts
Owners: @backend-team, @api-leads

Add public-samples/mytzedaka-y011oh/src/backend/src/modules/lottery/dto/create-lottery.dto.ts
  src/backend/src/modules/lottery/dto/create-lottery.dto.ts
Owners: @backend-team, @api-leads

Add public-samples/mytzedaka-y011oh/src/backend/src/modules/lottery/entities/lottery.entity.ts
  src/backend/src/modules/lottery/entities/lottery.entity.ts
Owners: @backend-team, @api-leads

Add public-samples/mytzedaka-y011oh/src/backend/src/modules/lottery/schemas/lottery.schema.ts
  src/backend/src/modules/lottery/schemas/lottery.schema.ts
Owners: @backend-team, @api-leads

Add public-samples/mytzedaka-y011oh/src/backend/src/modules/notification/notification.controller.ts
  src/backend/src/modules/notification/notification.controller.ts
Owners: @backend-team, @api-leads

Add public-samples/mytzedaka-y011oh/src/backend/src/modules/notification/notification.module.ts
  src/backend/src/modules/notification/notification.module.ts
Owners: @backend-team, @api-leads

Add public-samples/mytzedaka-y011oh/src/backend/src/modules/notification/notification.service.ts
  src/backend/src/modules/notification/notification.service.ts
Owners: @backend-team, @api-leads

Add public-samples/mytzedaka-y011oh/src/backend/src/modules/notification/dto/create-notification.dto.ts
  src/backend/src/modules/notification/dto/create-notification.dto.ts
Owners: @backend-team, @api-leads

Add public-samples/mytzedaka-y011oh/src/backend/src/modules/notification/entities/notification.entity.ts
  src/backend/src/modules/notification/entities/notification.entity.ts
Owners: @backend-team, @api-leads

Add public-samples/mytzedaka-y011oh/src/backend/src/modules/payment/payment.controller.ts
  src/backend/src/modules/payment/payment.controller.ts
Owners: @payment-team, @security-team

Add public-samples/mytzedaka-y011oh/src/backend/src/modules/payment/payment.module.ts
  src/backend/src/modules/payment/payment.module.ts
Owners: @payment-team, @security-team

Add public-samples/mytzedaka-y011oh/src/backend/src/modules/payment/payment.service.ts
  src/backend/src/modules/payment/payment.service.ts
Owners: @payment-team, @security-team

Add public-samples/mytzedaka-y011oh/src/backend/src/modules/payment/dto/create-payment.dto.ts
  src/backend/src/modules/payment/dto/create-payment.dto.ts
Owners: @payment-team, @security-team

Add public-samples/mytzedaka-y011oh/src/backend/src/modules/payment/entities/payment.entity.ts
  src/backend/src/modules/payment/entities/payment.entity.ts
Owners: @payment-team, @security-team

Add public-samples/mytzedaka-y011oh/src/backend/src/modules/payment/providers/stripe.provider.ts
  src/backend/src/modules/payment/providers/stripe.provider.ts
Owners: @payment-team, @security-team

Add public-samples/mytzedaka-y011oh/src/backend/src/modules/payment/providers/tranzilla.provider.ts
  src/backend/src/modules/payment/providers/tranzilla.provider.ts
Owners: @payment-team, @security-team

Add public-samples/mytzedaka-y011oh/src/backend/src/modules/report/report.controller.ts
  src/backend/src/modules/report/report.controller.ts
Owners: @backend-team, @api-leads

Add public-samples/mytzedaka-y011oh/src/backend/src/modules/report/report.module.ts
  src/backend/src/modules/report/report.module.ts
Owners: @backend-team, @api-leads

Add public-samples/mytzedaka-y011oh/src/backend/src/modules/report/report.service.ts
  src/backend/src/modules/report/report.service.ts
Owners: @backend-team, @api-leads

Add public-samples/mytzedaka-y011oh/src/backend/src/modules/report/dto/generate-report.dto.ts
  src/backend/src/modules/report/dto/generate-report.dto.ts
Owners: @backend-team, @api-leads

Add public-samples/mytzedaka-y011oh/src/backend/src/modules/tax/tax.controller.ts
  src/backend/src/modules/tax/tax.controller.ts
Owners: @backend-team, @api-leads

Add public-samples/mytzedaka-y011oh/src/backend/src/modules/tax/tax.module.ts
  src/backend/src/modules/tax/tax.module.ts
Owners: @backend-team, @api-leads

Add public-samples/mytzedaka-y011oh/src/backend/src/modules/tax/tax.service.ts
  src/backend/src/modules/tax/tax.service.ts
Owners: @backend-team, @api-leads

Add public-samples/mytzedaka-y011oh/src/backend/src/modules/tax/dto/generate-receipt.dto.ts
  src/backend/src/modules/tax/dto/generate-receipt.dto.ts
Owners: @backend-team, @api-leads

Add public-samples/mytzedaka-y011oh/src/backend/src/modules/user/user.controller.ts
  src/backend/src/modules/user/user.controller.ts
Owners: @backend-team, @api-leads
