Repository Eliezelg/mytzedaka-y011oh, changes with the owners that .github/CODEOWNERS names for each.
All owners: @global-maintainers, @mobile-team, @android-leads, @ios-leads, @backend-team, @api-leads, @api-team, @backend-leads, @data-team, @security-team, @frontend-team, @web-leads, @devops-team, @platform-leads, @ci-leads, @payment-team, @donation-team, @docs-team, @technical-writers, @i18n-team

.github/CODEOWNERS:

*                                    @global-maintainers

# Mobile applications
src/android/**                       @mobile-team @android-leads
src/ios/**                          @mobile-team @ios-leads

# Backend services
src/backend/**                      @backend-team @api-leads
**/api/**                          @api-team @backend-leads
**/database/**                     @backend-team @data-team
**/auth/**                         @backend-team @security-team

# Frontend application
src/web/**                         @frontend-team @web-leads

# Infrastructure and deployment
infrastructure/**                  @devops-team @platform-leads
.github/workflows/**               @devops-team @ci-leads

# Security-sensitive components
**/*.security.*                    @security-team
**/payment/**                      @payment-team @security-team

# Business domain components
**/donation/**                     @donation-team

# Documentation and localization
**/docs/**                         @docs-team @technical-writers
**/localization/**                 @i18n-team

# The CODEOWNERS file itself requires DevOps and Security review
.github/CODEOWNERS                 @devops-team @security-team @global-maintainers

Add public-samples/mytzedaka-y011oh/src/android/app/src/main/java/com/ijap/app/data/models/Campaign.kt
  src/android/app/src/main/java/com/ijap/app/data/models/Campaign.kt
Owners: @mobile-team, @android-leads

Add public-samples/mytzedaka-y011oh/src/android/app/src/main/java/com/ijap/app/data/models/Donation.kt
  src/android/app/src/main/java/com/ijap/app/data/models/Donation.kt
Owners: @mobile-team, @android-leads

Add public-samples/mytzedaka-y011oh/src/android/app/src/main/java/com/ijap/app/data/models/PaymentMethod.kt
  src/android/app/src/main/java/com/ijap/app/data/models/PaymentMethod.kt
Owners: @mobile-team, @android-leads

Add public-samples/mytzedaka-y011oh/src/android/app/src/main/java/com/ijap/app/data/models/User.kt
  src/android/app/src/main/java/com/ijap/app/data/models/User.kt
Owners: @mobile-team, @android-leads

Add public-samples/mytzedaka-y011oh/src/android/app/src/main/java/com/ijap/app/data/repository/AssociationRepository.kt
  src/android/app/src/main/java/com/ijap/app/data/repository/AssociationRepository.kt
Owners: @mobile-team, @android-leads

Add public-samples/mytzedaka-y011oh/src/android/app/src/main/java/com/ijap/app/data/repository/AuthRepository.kt
  src/android/app/src/main/java/com/ijap/app/data/repository/AuthRepository.kt
Owners: @mobile-team, @android-leads

Add public-samples/mytzedaka-y011oh/src/android/app/src/main/java/com/ijap/app/data/repository/CampaignRepository.kt
  src/android/app/src/main/java/com/ijap/app/data/repository/CampaignRepository.kt
Owners: @mobile-team, @android-leads

Add public-samples/mytzedaka-y011oh/src/android/app/src/main/java/com/ijap/app/data/repository/DonationRepository.kt
  src/android/app/src/main/java/com/ijap/app/data/repository/DonationRepository.kt
Owners: @mobile-team, @android-leads

Add public-samples/mytzedaka-y011oh/src/android/app/src/main/java/com/ijap/app/data/repository/UserRepository.kt
  src/android/app/src/main/java/com/ijap/app/data/repository/UserRepository.kt
Owners: @mobile-team, @android-leads

Add public-samples/mytzedaka-y011oh/src/android/app/src/main/java/com/ijap/app/di/AppModule.kt
  src/android/app/src/main/java/com/ijap/app/di/AppModule.kt
Owners: @mobile-team, @android-leads

Add public-samples/mytzedaka-y011oh/src/android/app/src/main/java/com/ijap/app/di/DatabaseModule.kt
  src/android/app/src/main/java/com/ijap/app/di/DatabaseModule.kt
Owners: @mobile-team, @android-leads

Add public-samples/mytzedaka-y011oh/src/android/app/src/main/java/com/ijap/app/di/NetworkModule.kt
  src/android/app/src/main/java/com/ijap/app/di/NetworkModule.kt
Owners: @mobile-team, @android-leads

Add public-samples/mytzedaka-y011oh/src/android/app/src/main/java/com/ijap/app/di/RepositoryModule.kt
  src/android/app/src/main/java/com/ijap/app/di/RepositoryModule.kt
Owners: @mobile-team, @android-leads

Add public-samples/mytzedaka-y011oh/src/android/app/src/main/java/com/ijap/app/di/ViewModelModule.kt
  src/android/app/src/main/java/com/ijap/app/di/ViewModelModule.kt
Owners: @mobile-team, @android-leads

Add public-samples/mytzedaka-y011oh/src/android/app/src/main/java/com/ijap/app/ui/association/AssociationDetailFragment.kt
  src/android/app/src/main/java/com/ijap/app/ui/association/AssociationDetailFragment.kt
Owners: @mobile-team, @android-leads

Add public-samples/mytzedaka-y011oh/src/android/app/src/main/java/com/ijap/app/ui/association/AssociationListFragment.kt
  src/android/app/src/main/java/com/ijap/app/ui/association/AssociationListFragment.kt
Owners: @mobile-team, @android-leads

Add public-samples/mytzedaka-y011oh/src/android/app/src/main/java/com/ijap/app/ui/association/AssociationViewModel.kt
  src/android/app/src/main/java/com/ijap/app/ui/association/AssociationViewModel.kt
Owners: @mobile-team, @android-leads

Add public-samples/mytzedaka-y011oh/src/android/app/src/main/java/com/ijap/app/ui/auth/AuthActivity.kt
  src/android/app/src/main/java/com/ijap/app/ui/auth/AuthActivity.kt
Owners: @backend-team, @security-team

Add public-samples/mytzedaka-y011oh/src/android/app/src/main/java/com/ijap/app/ui/auth/LoginFragment.kt
  src/android/app/src/main/java/com/ijap/app/ui/auth/LoginFragment.kt
Owners: @backend-team, @security-team

Add public-samples/mytzedaka-y011oh/src/android/app/src/main/java/com/ijap/app/ui/auth/RegisterFragment.kt
  src/android/app/src/main/java/com/ijap/app/ui/auth/RegisterFragment.kt
Owners: @backend-team, @security-team

Add public-samples/mytzedaka-y011oh/src/android/app/src/main/java/com/ijap/app/ui/auth/TwoFactorFragment.kt
  src/android/app/src/main/java/com/ijap/app/ui/auth/TwoFactorFragment.kt
Owners: @backend-team, @security-team

Add public-samples/mytzedaka-y011oh/src/android/app/src/main/java/com/ijap/app/ui/campaign/CampaignDetailFragment.kt
  src/android/app/src/main/java/com/ijap/app/ui/campaign/CampaignDetailFragment.kt
Owners: @mobile-team, @android-leads

Add public-samples/mytzedaka-y011oh/src/android/app/src/main/java/com/ijap/app/ui/campaign/CampaignListFragment.kt
  src/android/app/src/main/java/com/ijap/app/ui/campaign/CampaignListFragment.kt
Owners: @mobile-team, @android-leads

Add public-samples/mytzedaka-y011oh/src/android/app/src/main/java/com/ijap/app/ui/campaign/CampaignViewModel.kt
  src/android/app/src/main/java/com/ijap/app/ui/campaign/CampaignViewModel.kt
Owners: @mobile-team, @android-leads

Add public-samples/mytzedaka-y011oh/src/android/app/src/main/java/com/ijap/app/ui/common/BindingAdapters.kt
  src/android/app/src/main/java/com/ijap/app/ui/common/BindingAdapters.kt
Owners: @mobile-team, @android-leads

Add public-samples/mytzedaka-y011oh/src/android/app/src/main/java/com/ijap/app/ui/common/Extensions.kt
  src/android/app/src/main/java/com/ijap/app/ui/common/Extensions.kt
Owners: @mobile-team, @android-leads

Add public-samples/mytzedaka-y011oh/src/android/app/src/main/java/com/ijap/app/ui/common/ViewUtils.kt
  src/android/app/src/main/java/com/ijap/app/ui/common/ViewUtils.kt
Owners: @mobile-team, @android-leads

Add public-samples/mytzedaka-y011oh/src/android/app/src/main/java/com/ijap/app/ui/donation/DonationConfirmationFragment.kt
  src/android/app/src/main/java/com/ijap/app/ui/donation/DonationConfirmationFragment.kt
Owners: @donation-team

Add public-samples/mytzedaka-y011oh/src/android/app/src/main/java/com/ijap/app/ui/donation/DonationFormFragment.kt
  src/android/app/src/main/java/com/ijap/app/ui/donation/DonationFormFragment.kt
Owners: @donation-team

Add public-samples/mytzedaka-y011oh/src/android/app/src/main/java/com/ijap/app/ui/donation/DonationHistoryFragment.kt
  src/android/app/src/main/java/com/ijap/app/ui/donation/DonationHistoryFragment.kt
Owners: @donation-team

Add public-samples/mytzedaka-y011oh/src/android/app/src/main/java/com/ijap/app/ui/donation/DonationViewModel.kt
  src/android/app/src/main/java/com/ijap/app/ui/donation/DonationViewModel.kt
Owners: @donation-team

Add public-samples/mytzedaka-y011oh/src/android/app/src/main/java/com/ijap/app/ui/payment/PaymentMethodFragment.kt
  src/android/app/src/main/java/com/ijap/app/ui/payment/PaymentMethodFragment.kt
Owners: @payment-team, @security-team

Add public-samples/mytzedaka-y011oh/src/android/app/src/main/java/com/ijap/app/ui/payment/PaymentViewModel.kt
  src/android/app/src/main/java/com/ijap/app/ui/payment/PaymentViewModel.kt
Owners: @payment-team, @security-team

Add public-samples/mytzedaka-y011oh/src/android/app/src/main/java/com/ijap/app/ui/profile/ProfileEditFragment.kt
  src/android/app/src/main/java/com/ijap/app/ui/profile/ProfileEditFragment.kt
Owners: @mobile-team, @android-leads

Add public-samples/mytzedaka-y011oh/src/android/app/src/main/java/com/ijap/app/ui/profile/ProfileFragment.kt
  src/android/app/src/main/java/com/ijap/app/ui/profile/ProfileFragment.kt
Owners: @mobile-team, @android-leads

Add public-samples/mytzedaka-y011oh/src/android/app/src/main/java/com/ijap/app/ui/profile/ProfileViewModel.kt
  src/android/app/src/main/java/com/ijap/app/ui/profile/ProfileViewModel.kt
Owners: @mobile-team, @android-leads

Add public-samples/mytzedaka-y011oh/src/android/app/src/main/java/com/ijap/app/ui/settings/LanguageSettingFragment.kt
  src/android/app/src/main/java/com/ijap/app/ui/settings/LanguageSettingFragment.kt
Owners: @mobile-team, @android-leads

Add public-samples/mytzedaka-y011oh/src/android/app/src/main/java/com/ijap/app/ui/settings/NotificationSettingFragment.kt
  src/android/app/src/main/java/com/ijap/app/ui/settings/NotificationSettingFragment.kt
Owners: @mobile-team, @android-leads

Add public-samples/mytzedaka-y011oh/src/android/app/src/main/java/com/ijap/app/ui/settings/SettingsFragment.kt
  src/android/app/src/main/java/com/ijap/app/ui/settings/SettingsFragment.kt
Owners: @mobile-team, @android-leads

Add public-samples/mytzedaka-y011oh/src/android/app/src/main/java/com/ijap/app/utils/BiometricUtils.kt
  src/android/app/src/main/java/com/ijap/app/utils/BiometricUtils.kt
Owners: @mobile-team, @android-leads
