Repository Eliezelg/mytzedaka-y011oh, changes with the owners that .github/CODEOWNERS names for each.
All owners: @global-maintainers, @mobile-team, @android-leads, @ios-leads, @backend-team, @api-leads, @api-team, @backend-leads, @data-team, @security-team, @frontend-team, @web-leads, @devops-team, @platform-leads, @ci-leads, @payment-team, @donation-team, @docs-team, @technical-writers, @i18n-team

Add public-samples/mytzedaka-y011oh/.github/pull_request_template.md
  .github/pull_request_template.md
Owners: @global-maintainers

Add public-samples/mytzedaka-y011oh/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @global-maintainers

Add public-samples/mytzedaka-y011oh/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @global-maintainers

Add public-samples/mytzedaka-y011oh/.github/workflows/android.yml
  .github/workflows/android.yml
Owners: @devops-team, @ci-leads

Add public-samples/mytzedaka-y011oh/.github/workflows/backend.yml
  .github/workflows/backend.yml
Owners: @devops-team, @ci-leads

Add public-samples/mytzedaka-y011oh/.github/workflows/ios.yml
  .github/workflows/ios.yml
Owners: @devops-team, @ci-leads

Add public-samples/mytzedaka-y011oh/.github/workflows/web.yml
  .github/workflows/web.yml
Owners: @devops-team, @ci-leads

Add public-samples/mytzedaka-y011oh/documentation/Input Prompt.md
  documentation/Input Prompt.md
Owners: @global-maintainers

Add public-samples/mytzedaka-y011oh/documentation/Product Requirements Document (PRD).md
  documentation/Product Requirements Document (PRD).md
Owners: @global-maintainers

Add public-samples/mytzedaka-y011oh/documentation/Project Guide.md
  documentation/Project Guide.md
Owners: @global-maintainers

Add public-samples/mytzedaka-y011oh/documentation/Technical Specifications.md
  documentation/Technical Specifications.md
Owners: @global-maintainers

Add public-samples/mytzedaka-y011oh/infrastructure/docker/datadog/datadog.yaml
  infrastructure/docker/datadog/datadog.yaml
Owners: @devops-team, @platform-leads

Add public-samples/mytzedaka-y011oh/infrastructure/docker/elasticsearch/elasticsearch.yml
  infrastructure/docker/elasticsearch/elasticsearch.yml
Owners: @devops-team, @platform-leads

Add public-samples/mytzedaka-y011oh/infrastructure/docker/kibana/kibana.yml
  infrastructure/docker/kibana/kibana.yml
Owners: @devops-team, @platform-leads

Add public-samples/mytzedaka-y011oh/infrastructure/docker/logstash/logstash.yml
  infrastructure/docker/logstash/logstash.yml
Owners: @devops-team, @platform-leads

Add public-samples/mytzedaka-y011oh/infrastructure/docker/mongodb/mongod.conf
  infrastructure/docker/mongodb/mongod.conf
Owners: @devops-team, @platform-leads

Add public-samples/mytzedaka-y011oh/infrastructure/docker/nginx/nginx.conf
  infrastructure/docker/nginx/nginx.conf
Owners: @devops-team, @platform-leads

Add public-samples/mytzedaka-y011oh/infrastructure/docker/rabbitmq/rabbitmq.conf
  infrastructure/docker/rabbitmq/rabbitmq.conf
Owners: @devops-team, @platform-leads

Add public-samples/mytzedaka-y011oh/infrastructure/docker/redis/redis.conf
  infrastructure/docker/redis/redis.conf
Owners: @devops-team, @platform-leads

Add public-samples/mytzedaka-y011oh/infrastructure/k8s/apps/api/deployment.yaml
  infrastructure/k8s/apps/api/deployment.yaml
Owners: @devops-team, @platform-leads

Add public-samples/mytzedaka-y011oh/infrastructure/k8s/apps/api/hpa.yaml
  infrastructure/k8s/apps/api/hpa.yaml
Owners: @devops-team, @platform-leads

Add public-samples/mytzedaka-y011oh/infrastructure/k8s/apps/api/ingress.yaml
  infrastructure/k8s/apps/api/ingress.yaml
Owners: @devops-team, @platform-leads

Add public-samples/mytzedaka-y011oh/infrastructure/k8s/apps/api/service.yaml
  infrastructure/k8s/apps/api/service.yaml
Owners: @devops-team, @platform-leads

Add public-samples/mytzedaka-y011oh/infrastructure/k8s/apps/web/deployment.yaml
  infrastructure/k8s/apps/web/deployment.yaml
Owners: @devops-team, @platform-leads

Add public-samples/mytzedaka-y011oh/infrastructure/k8s/apps/web/hpa.yaml
  infrastructure/k8s/apps/web/hpa.yaml
Owners: @devops-team, @platform-leads

Add public-samples/mytzedaka-y011oh/infrastructure/k8s/apps/web/ingress.yaml
  infrastructure/k8s/apps/web/ingress.yaml
Owners: @devops-team, @platform-leads

Add public-samples/mytzedaka-y011oh/infrastructure/k8s/apps/web/service.yaml
  infrastructure/k8s/apps/web/service.yaml
Owners: @devops-team, @platform-leads

Add public-samples/mytzedaka-y011oh/infrastructure/k8s/base/configmap.yaml
  infrastructure/k8s/base/configmap.yaml
Owners: @devops-team, @platform-leads

Add public-samples/mytzedaka-y011oh/infrastructure/k8s/base/kustomization.yaml
  infrastructure/k8s/base/kustomization.yaml
Owners: @devops-team, @platform-leads

Add public-samples/mytzedaka-y011oh/infrastructure/k8s/base/namespace.yaml
  infrastructure/k8s/base/namespace.yaml
Owners: @devops-team, @platform-leads

Add public-samples/mytzedaka-y011oh/infrastructure/k8s/base/network-policy.yaml
  infrastructure/k8s/base/network-policy.yaml
Owners: @devops-team, @platform-leads

Add public-samples/mytzedaka-y011oh/infrastructure/k8s/base/secrets.yaml
  infrastructure/k8s/base/secrets.yaml
Owners: @devops-team, @platform-leads

Add public-samples/mytzedaka-y011oh/infrastructure/k8s/base/service-account.yaml
  infrastructure/k8s/base/service-account.yaml
Owners: @devops-team, @platform-leads

Add public-samples/mytzedaka-y011oh/infrastructure/k8s/base/storage.yaml
  infrastructure/k8s/base/storage.yaml
Owners: @devops-team, @platform-leads

Add public-samples/mytzedaka-y011oh/infrastructure/k8s/logging/elasticsearch/service.yaml
  infrastructure/k8s/logging/elasticsearch/service.yaml
Owners: @devops-team, @platform-leads

Add public-samples/mytzedaka-y011oh/infrastructure/k8s/logging/elasticsearch/statefulset.yaml
  infrastructure/k8s/logging/elasticsearch/statefulset.yaml
Owners: @devops-team, @platform-leads

Add public-samples/mytzedaka-y011oh/infrastructure/k8s/logging/fluentd/configmap.yaml
  infrastructure/k8s/logging/fluentd/configmap.yaml
Owners: @devops-team, @platform-leads

Add public-samples/mytzedaka-y011oh/infrastructure/k8s/logging/fluentd/daemonset.yaml
  infrastructure/k8s/logging/fluentd/daemonset.yaml
Owners: @devops-team, @platform-leads

Add public-samples/mytzedaka-y011oh/infrastructure/k8s/logging/kibana/deployment.yaml
  infrastructure/k8s/logging/kibana/deployment.yaml
Owners: @devops-team, @platform-leads

Add public-samples/mytzedaka-y011oh/infrastructure/k8s/logging/kibana/service.yaml
  infrastructure/k8s/logging/kibana/service.yaml
Owners: @devops-team, @platform-leads

.github/CODEOWNERS:

*                                    @global-maintainers

# Mobile applications
src/android/**                       @mobile-team @android-leads
src/ios/**                          @mobile-team @ios-leads

# Backend services
src/backend/**                      @backend-team @api-leads
**/api/**                          @api-team @backend-leads
**/database/**                     @backend-team @data-team
**/auth/**                         @backend-team @security-team

# Frontend application
src/web/**                         @frontend-team @web-leads

# Infrastructure and deployment
infrastructure/**                  @devops-team @platform-leads
.github/workflows/**               @devops-team @ci-leads

# Security-sensitive components
**/*.security.*                    @security-team
**/payment/**                      @payment-team @security-team

# Business domain components
**/donation/**                     @donation-team

# Documentation and localization
**/docs/**                         @docs-team @technical-writers
**/localization/**                 @i18n-team

# The CODEOWNERS file itself requires DevOps and Security review
.github/CODEOWNERS                 @devops-team @security-team @global-maintainers
