Repository Eliezelg/mytzedaka-y011oh, changes with the owners that .github/CODEOWNERS names for each.
All owners: @global-maintainers, @mobile-team, @android-leads, @ios-leads, @backend-team, @api-leads, @api-team, @backend-leads, @data-team, @security-team, @frontend-team, @web-leads, @devops-team, @platform-leads, @ci-leads, @payment-team, @donation-team, @docs-team, @technical-writers, @i18n-team

.github/CODEOWNERS:

*                                    @global-maintainers

# Mobile applications
src/android/**                       @mobile-team @android-leads
src/ios/**                          @mobile-team @ios-leads

# Backend services
src/backend/**                      @backend-team @api-leads
**/api/**                          @api-team @backend-leads
**/database/**                     @backend-team @data-team
**/auth/**                         @backend-team @security-team

# Frontend application
src/web/**                         @frontend-team @web-leads

# Infrastructure and deployment
infrastructure/**                  @devops-team @platform-leads
.github/workflows/**               @devops-team @ci-leads

# Security-sensitive components
**/*.security.*                    @security-team
**/payment/**                      @payment-team @security-team

# Business domain components
**/donation/**                     @donation-team

# Documentation and localization
**/docs/**                         @docs-team @technical-writers
**/localization/**                 @i18n-team

# The CODEOWNERS file itself requires DevOps and Security review
.github/CODEOWNERS                 @devops-team @security-team @global-maintainers

Add public-samples/mytzedaka-y011oh/infrastructure/terraform/modules/compute/variables.tf
  infrastructure/terraform/modules/compute/variables.tf
Owners: @devops-team, @platform-leads

Add public-samples/mytzedaka-y011oh/infrastructure/terraform/modules/database/main.tf
  infrastructure/terraform/modules/database/main.tf
Owners: @devops-team, @platform-leads

Add public-samples/mytzedaka-y011oh/infrastructure/terraform/modules/database/outputs.tf
  infrastructure/terraform/modules/database/outputs.tf
Owners: @devops-team, @platform-leads

Add public-samples/mytzedaka-y011oh/infrastructure/terraform/modules/database/variables.tf
  infrastructure/terraform/modules/database/variables.tf
Owners: @devops-team, @platform-leads

Add public-samples/mytzedaka-y011oh/infrastructure/terraform/modules/monitoring/main.tf
  infrastructure/terraform/modules/monitoring/main.tf
Owners: @devops-team, @platform-leads

Add public-samples/mytzedaka-y011oh/infrastructure/terraform/modules/monitoring/outputs.tf
  infrastructure/terraform/modules/monitoring/outputs.tf
Owners: @devops-team, @platform-leads

Add public-samples/mytzedaka-y011oh/infrastructure/terraform/modules/monitoring/variables.tf
  infrastructure/terraform/modules/monitoring/variables.tf
Owners: @devops-team, @platform-leads

Add public-samples/mytzedaka-y011oh/infrastructure/terraform/modules/networking/main.tf
  infrastructure/terraform/modules/networking/main.tf
Owners: @devops-team, @platform-leads

Add public-samples/mytzedaka-y011oh/infrastructure/terraform/modules/networking/outputs.tf
  infrastructure/terraform/modules/networking/outputs.tf
Owners: @devops-team, @platform-leads

Add public-samples/mytzedaka-y011oh/infrastructure/terraform/modules/networking/variables.tf
  infrastructure/terraform/modules/networking/variables.tf
Owners: @devops-team, @platform-leads

Add public-samples/mytzedaka-y011oh/infrastructure/terraform/modules/security/main.tf
  infrastructure/terraform/modules/security/main.tf
Owners: @devops-team, @platform-leads

Add public-samples/mytzedaka-y011oh/infrastructure/terraform/modules/security/outputs.tf
  infrastructure/terraform/modules/security/outputs.tf
Owners: @devops-team, @platform-leads

Add public-samples/mytzedaka-y011oh/infrastructure/terraform/modules/security/variables.tf
  infrastructure/terraform/modules/security/variables.tf
Owners: @devops-team, @platform-leads

Add public-samples/mytzedaka-y011oh/src/android/.gitignore
  src/android/.gitignore
Owners: @mobile-team, @android-leads

Add public-samples/mytzedaka-y011oh/src/android/build.gradle
  src/android/build.gradle
Owners: @mobile-team, @android-leads

Add public-samples/mytzedaka-y011oh/src/android/gradle.properties
  src/android/gradle.properties
Owners: @mobile-team, @android-leads

Add public-samples/mytzedaka-y011oh/src/android/gradlew
  src/android/gradlew
Owners: @mobile-team, @android-leads

Add public-samples/mytzedaka-y011oh/src/android/gradlew.bat
  src/android/gradlew.bat
Owners: @mobile-team, @android-leads

Add public-samples/mytzedaka-y011oh/src/android/settings.gradle
  src/android/settings.gradle
Owners: @mobile-team, @android-leads

Add public-samples/mytzedaka-y011oh/src/android/app/.gitignore
  src/android/app/.gitignore
Owners: @mobile-team, @android-leads

Add public-samples/mytzedaka-y011oh/src/android/app/build.gradle
  src/android/app/build.gradle
Owners: @mobile-team, @android-leads

Add public-samples/mytzedaka-y011oh/src/android/app/google-services.json
  src/android/app/google-services.json
Owners: @mobile-team, @android-leads

Add public-samples/mytzedaka-y011oh/src/android/app/proguard-rules.pro
  src/android/app/proguard-rules.pro
Owners: @mobile-team, @android-leads

Add public-samples/mytzedaka-y011oh/src/android/app/src/androidTest/java/com/ijap/app/ExampleInstrumentedTest.kt
  src/android/app/src/androidTest/java/com/ijap/app/ExampleInstrumentedTest.kt
Owners: @mobile-team, @android-leads

Add public-samples/mytzedaka-y011oh/src/android/app/src/debug/AndroidManifest.xml
  src/android/app/src/debug/AndroidManifest.xml
Owners: @mobile-team, @android-leads

Add public-samples/mytzedaka-y011oh/src/android/app/src/main/AndroidManifest.xml
  src/android/app/src/main/AndroidManifest.xml
Owners: @mobile-team, @android-leads

Add public-samples/mytzedaka-y011oh/src/android/app/src/main/java/com/ijap/app/IJAPApplication.kt
  src/android/app/src/main/java/com/ijap/app/IJAPApplication.kt
Owners: @mobile-team, @android-leads

Add public-samples/mytzedaka-y011oh/src/android/app/src/main/java/com/ijap/app/MainActivity.kt
  src/android/app/src/main/java/com/ijap/app/MainActivity.kt
Owners: @mobile-team, @android-leads

Add public-samples/mytzedaka-y011oh/src/android/app/src/main/java/com/ijap/app/data/api/ApiClient.kt
  src/android/app/src/main/java/com/ijap/app/data/api/ApiClient.kt
Owners: @api-team, @backend-leads

Add public-samples/mytzedaka-y011oh/src/android/app/src/main/java/com/ijap/app/data/api/ApiService.kt
  src/android/app/src/main/java/com/ijap/app/data/api/ApiService.kt
Owners: @api-team, @backend-leads

Add public-samples/mytzedaka-y011oh/src/android/app/src/main/java/com/ijap/app/data/db/AppDatabase.kt
  src/android/app/src/main/java/com/ijap/app/data/db/AppDatabase.kt
Owners: @mobile-team, @android-leads

Add public-samples/mytzedaka-y011oh/src/android/app/src/main/java/com/ijap/app/data/db/dao/AssociationDao.kt
  src/android/app/src/main/java/com/ijap/app/data/db/dao/AssociationDao.kt
Owners: @mobile-team, @android-leads

Add public-samples/mytzedaka-y011oh/src/android/app/src/main/java/com/ijap/app/data/db/dao/CampaignDao.kt
  src/android/app/src/main/java/com/ijap/app/data/db/dao/CampaignDao.kt
Owners: @mobile-team, @android-leads

Add public-samples/mytzedaka-y011oh/src/android/app/src/main/java/com/ijap/app/data/db/dao/DonationDao.kt
  src/android/app/src/main/java/com/ijap/app/data/db/dao/DonationDao.kt
Owners: @mobile-team, @android-leads

Add public-samples/mytzedaka-y011oh/src/android/app/src/main/java/com/ijap/app/data/db/dao/UserDao.kt
  src/android/app/src/main/java/com/ijap/app/data/db/dao/UserDao.kt
Owners: @mobile-team, @android-leads

Add public-samples/mytzedaka-y011oh/src/android/app/src/main/java/com/ijap/app/data/db/entities/AssociationEntity.kt
  src/android/app/src/main/java/com/ijap/app/data/db/entities/AssociationEntity.kt
Owners: @mobile-team, @android-leads

Add public-samples/mytzedaka-y011oh/src/android/app/src/main/java/com/ijap/app/data/db/entities/CampaignEntity.kt
  src/android/app/src/main/java/com/ijap/app/data/db/entities/CampaignEntity.kt
Owners: @mobile-team, @android-leads

Add public-samples/mytzedaka-y011oh/src/android/app/src/main/java/com/ijap/app/data/db/entities/DonationEntity.kt
  src/android/app/src/main/java/com/ijap/app/data/db/entities/DonationEntity.kt
Owners: @mobile-team, @android-leads

Add public-samples/mytzedaka-y011oh/src/android/app/src/main/java/com/ijap/app/data/db/entities/UserEntity.kt
  src/android/app/src/main/java/com/ijap/app/data/db/entities/UserEntity.kt
Owners: @mobile-team, @android-leads

Add public-samples/mytzedaka-y011oh/src/android/app/src/main/java/com/ijap/app/data/models/Association.kt
  src/android/app/src/main/java/com/ijap/app/data/models/Association.kt
Owners: @mobile-team, @android-leads
