Repository Eliezelg/mytzedaka-y011oh, changes with the owners that .github/CODEOWNERS names for each.
All owners: @global-maintainers, @mobile-team, @android-leads, @ios-leads, @backend-team, @api-leads, @api-team, @backend-leads, @data-team, @security-team, @frontend-team, @web-leads, @devops-team, @platform-leads, @ci-leads, @payment-team, @donation-team, @docs-team, @technical-writers, @i18n-team

Add public-samples/mytzedaka-y011oh/src/backend/src/modules/user/user.module.ts
  src/backend/src/modules/user/user.module.ts
Owners: @backend-team, @api-leads

Add public-samples/mytzedaka-y011oh/src/backend/src/modules/user/user.service.ts
  src/backend/src/modules/user/user.service.ts
Owners: @backend-team, @api-leads

Add public-samples/mytzedaka-y011oh/src/backend/src/modules/user/dto/create-user.dto.ts
  src/backend/src/modules/user/dto/create-user.dto.ts
Owners: @backend-team, @api-leads

Add public-samples/mytzedaka-y011oh/src/backend/src/modules/user/dto/update-user.dto.ts
  src/backend/src/modules/user/dto/update-user.dto.ts
Owners: @backend-team, @api-leads

Add public-samples/mytzedaka-y011oh/src/backend/src/modules/user/entities/user.entity.ts
  src/backend/src/modules/user/entities/user.entity.ts
Owners: @backend-team, @api-leads

Add public-samples/mytzedaka-y011oh/src/backend/src/modules/user/schemas/user.schema.ts
  src/backend/src/modules/user/schemas/user.schema.ts
Owners: @backend-team, @api-leads

Add public-samples/mytzedaka-y011oh/src/backend/src/providers/cache.provider.ts
  src/backend/src/providers/cache.provider.ts
Owners: @backend-team, @api-leads

Add public-samples/mytzedaka-y011oh/src/backend/src/providers/database.provider.ts
  src/backend/src/providers/database.provider.ts
Owners: @backend-team, @api-leads

Add public-samples/mytzedaka-y011oh/src/backend/src/providers/logger.provider.ts
  src/backend/src/providers/logger.provider.ts
Owners: @backend-team, @api-leads

Add public-samples/mytzedaka-y011oh/src/backend/src/providers/mail.provider.ts
  src/backend/src/providers/mail.provider.ts
Owners: @backend-team, @api-leads

Add public-samples/mytzedaka-y011oh/src/backend/src/providers/queue.provider.ts
  src/backend/src/providers/queue.provider.ts
Owners: @backend-team, @api-leads

Add public-samples/mytzedaka-y011oh/src/backend/src/providers/storage.provider.ts
  src/backend/src/providers/storage.provider.ts
Owners: @backend-team, @api-leads

Add public-samples/mytzedaka-y011oh/src/backend/src/utils/crypto.util.ts
  src/backend/src/utils/crypto.util.ts
Owners: @backend-team, @api-leads

Add public-samples/mytzedaka-y011oh/src/backend/src/utils/date.util.ts
  src/backend/src/utils/date.util.ts
Owners: @backend-team, @api-leads

Add public-samples/mytzedaka-y011oh/src/backend/src/utils/file.util.ts
  src/backend/src/utils/file.util.ts
Owners: @backend-team, @api-leads

Add public-samples/mytzedaka-y011oh/src/backend/src/utils/validation.util.ts
  src/backend/src/utils/validation.util.ts
Owners: @backend-team, @api-leads

Add public-samples/mytzedaka-y011oh/src/backend/test/app.e2e-spec.ts
  src/backend/test/app.e2e-spec.ts
Owners: @backend-team, @api-leads

Add public-samples/mytzedaka-y011oh/src/backend/test/jest-e2e.json
  src/backend/test/jest-e2e.json
Owners: @backend-team, @api-leads

Add public-samples/mytzedaka-y011oh/src/backend/test/mocks/association.mock.ts
  src/backend/test/mocks/association.mock.ts
Owners: @backend-team, @api-leads

Add public-samples/mytzedaka-y011oh/src/backend/test/mocks/campaign.mock.ts
  src/backend/test/mocks/campaign.mock.ts
Owners: @backend-team, @api-leads

Add public-samples/mytzedaka-y011oh/src/backend/test/mocks/donation.mock.ts
  src/backend/test/mocks/donation.mock.ts
Owners: @backend-team, @api-leads

Add public-samples/mytzedaka-y011oh/src/backend/test/mocks/user.mock.ts
  src/backend/test/mocks/user.mock.ts
Owners: @backend-team, @api-leads

Add public-samples/mytzedaka-y011oh/src/backend/test/modules/association/association.controller.spec.ts
  src/backend/test/modules/association/association.controller.spec.ts
Owners: @backend-team, @api-leads

Add public-samples/mytzedaka-y011oh/src/backend/test/modules/association/association.service.spec.ts
  src/backend/test/modules/association/association.service.spec.ts
Owners: @backend-team, @api-leads

Add public-samples/mytzedaka-y011oh/src/backend/test/modules/auth/auth.controller.spec.ts
  src/backend/test/modules/auth/auth.controller.spec.ts
Owners: @backend-team, @security-team

Add public-samples/mytzedaka-y011oh/src/backend/test/modules/auth/auth.service.spec.ts
  src/backend/test/modules/auth/auth.service.spec.ts
Owners: @backend-team, @security-team

Add public-samples/mytzedaka-y011oh/src/backend/test/modules/campaign/campaign.controller.spec.ts
  src/backend/test/modules/campaign/campaign.controller.spec.ts
Owners: @backend-team, @api-leads

Add public-samples/mytzedaka-y011oh/src/backend/test/modules/campaign/campaign.service.spec.ts
  src/backend/test/modules/campaign/campaign.service.spec.ts
Owners: @backend-team, @api-leads

Add public-samples/mytzedaka-y011oh/src/backend/test/modules/donation/donation.controller.spec.ts
  src/backend/test/modules/donation/donation.controller.spec.ts
Owners: @donation-team

Add public-samples/mytzedaka-y011oh/src/backend/test/modules/donation/donation.service.spec.ts
  src/backend/test/modules/donation/donation.service.spec.ts
Owners: @donation-team

Add public-samples/mytzedaka-y011oh/src/backend/test/modules/payment/payment.controller.spec.ts
  src/backend/test/modules/payment/payment.controller.spec.ts
Owners: @payment-team, @security-team

Add public-samples/mytzedaka-y011oh/src/backend/test/modules/payment/payment.service.spec.ts
  src/backend/test/modules/payment/payment.service.spec.ts
Owners: @payment-team, @security-team

Add public-samples/mytzedaka-y011oh/src/backend/test/modules/user/user.controller.spec.ts
  src/backend/test/modules/user/user.controller.spec.ts
Owners: @backend-team, @api-leads

Add public-samples/mytzedaka-y011oh/src/backend/test/modules/user/user.service.spec.ts
  src/backend/test/modules/user/user.service.spec.ts
Owners: @backend-team, @api-leads

Add public-samples/mytzedaka-y011oh/src/ios/.gitignore
  src/ios/.gitignore
Owners: @mobile-team, @ios-leads

Add public-samples/mytzedaka-y011oh/src/ios/Podfile
  src/ios/Podfile
Owners: @mobile-team, @ios-leads

Add public-samples/mytzedaka-y011oh/src/ios/Podfile.lock
  src/ios/Podfile.lock
Owners: @mobile-team, @ios-leads

Add public-samples/mytzedaka-y011oh/src/ios/README.md
  src/ios/README.md
Owners: @mobile-team, @ios-leads

Add public-samples/mytzedaka-y011oh/src/ios/swiftlint.yml
  src/ios/swiftlint.yml
Owners: @mobile-team, @ios-leads

Add public-samples/mytzedaka-y011oh/src/ios/IJAP.xcodeproj/project.pbxproj
  src/ios/IJAP.xcodeproj/project.pbxproj
Owners: @mobile-team, @ios-leads

.github/CODEOWNERS:

*                                    @global-maintainers

# Mobile applications
src/android/**                       @mobile-team @android-leads
src/ios/**                          @mobile-team @ios-leads

# Backend services
src/backend/**                      @backend-team @api-leads
**/api/**                          @api-team @backend-leads
**/database/**                     @backend-team @data-team
**/auth/**                         @backend-team @security-team

# Frontend application
src/web/**                         @frontend-team @web-leads

# Infrastructure and deployment
infrastructure/**                  @devops-team @platform-leads
.github/workflows/**               @devops-team @ci-leads

# Security-sensitive components
**/*.security.*                    @security-team
**/payment/**                      @payment-team @security-team

# Business domain components
**/donation/**                     @donation-team

# Documentation and localization
**/docs/**                         @docs-team @technical-writers
**/localization/**                 @i18n-team

# The CODEOWNERS file itself requires DevOps and Security review
.github/CODEOWNERS                 @devops-team @security-team @global-maintainers
